# Write a program to reverse a string.

In [1]:
s = "string"
v = s[::-1]
print(v)

gnirts

# Check if a string is a palindrome.

In [2]:
s = input('Enter a string: ')
cleaned_input = s.lower()
check_palindrome = cleaned_input[::-1]
if check_palindrome:
    print(f'Yes, {s} is a palindrome.')
else:
    print(f'No, {s} is not a palindrome.')

Enter a string: level
Yes, level is a palindrome.

# Convert a string to uppercase.

In [3]:
s = "string"
v = s.upper()
print(v)

STRING

# Convert a string to lowercase.

In [4]:
s = "String"
v = s.lower()
print(v)

string

# Count the number of vowels in a string.

In [5]:
s = input('Enter a string: ').lower()

count_vowels = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

for char in s:
    if char in count_vowels: 
        count_vowels[char] += 1

for vowel, count in count_vowels.items():
    print(f"The number of '{vowel}' in '{s}' is : {count}")

Enter a string: varsha
The number of 'a' in 'varsha' is : 2
The number of 'e' in 'varsha' is : 0
The number of 'i' in 'varsha' is : 0
The number of 'o' in 'varsha' is : 0
The number of 'u' in 'varsha' is : 0

# Count the number of consonants in a string.

In [6]:
s = input('Enter a string: ').lower()
count_consonants = {}

for char in s:
    if char.isalpha() and char not in 'aeiou':
        if char in count_consonants:
            count_consonants[char] += 1
        else:
            count_consonants[char] = 1
            
for consonants, counts in count_consonants.items():
    print(f"The number of '{consonants}' in '{s}' is : {count}")

Enter a string: varsha
The number of 'v' in 'varsha' is : 0
The number of 'r' in 'varsha' is : 0
The number of 's' in 'varsha' is : 0
The number of 'h' in 'varsha' is : 0

# Remove all whitespaces from a string.

In [7]:
user_input = input('enter a string: ')
result = user_input.strip()
result

enter a string:    hello

'hello'

# Find the length of a string without using the `len()` function.

In [8]:
input_string = 'Hello, World!'
length = 0

for char in input_string:
    length += 1
    
print(f"The length of the string: '{length}'")

The length of the string: '13'

# Check if a string contains a specific word.

In [9]:
input_string = "This is a sample string to check for a specific word."
specific_word = "sample"

if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'. ")
else:
    print(f"The string does not contain the word '{specific_word}'. ")

The string contains the word 'sample'.

# Replace a word in a string with another word.

In [10]:
s = "Hello"
c = s.replace('H', 'J')
c

'Jello'

# Count the occurrences of a word in a string.

In [11]:
s = "Hello, people good evening!"
counts = s.count('people')
counts

1

# Find the first occurrence of a word in a string.

In [12]:
s = "I love apples, apples are my favourite fruits"
counts = s.find('apples')
counts

7

# Find the last occurrence of a word in a string.

In [13]:
s = "I love apples, apples are my favourite fruits"
counts = s.rfind('apples')
counts

15

# Split a string into a list of words.

In [14]:
input_string = "This is an example sentence."


word_list = input_string.split()

print(word_list)

['This', 'is', 'an', 'example', 'sentence.']

# Join a list of words into a string.

In [15]:
word_list = ["This", "is", "an", "example", "sentence."]
joined_string = ' '.join(word_list)

print(joined_string)

This is an example sentence.

# Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
s = 'This is a sentence.'
converted_string = s.replace(' ', '_')
print(converted_string)

This_is_a_sentence.

# Check if a string starts with a specific word or phrase.

In [17]:
user_input = input('Enter a string: ').lower()
check = user_input.startswith('a')

if check:
    print('Yes!')
else:
    print('No!')

Enter a string: hello
No!

# Check if a string ends with a specific word or phrase

In [18]:
user_input = input('Enter a string: ').lower()
check = user_input.endswith('a')

if check:
    print('Yes!')
else:
    print('No!')

Enter a string: varsha
Yes!

# Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
user_input = input('Enter a string: ').title()
print(user_input)

Enter a string: varsha
Varsha

# Find the longest word in a string.

In [20]:
user_input = input('Enter a string: ')
words = user_input.split()

longest_word = max(words, key = len)
print(f"The longest word is {longest_word} with length {len(longest_word)}.")

Enter a string: hello kiddos
The longest word is kiddos with length 6.

# Find the shortest word in a string.

In [21]:
input_string = 'Hello kiddos!'
word = input_string.split()

shortest_word = min(word, key = len)
print(f"The shortest word is '{shortest_word}' with the length {len(shortest_word)}.")

The shortest word is 'Hello' with the length 5.

# Reverse the order of words in a string.

In [22]:
user_input = input('ENter a string: ')
words = user_input.split()
reversed_order = '  '.join(words[::-1])
print(reversed_order)

ENter a string: kaise hn aap sab
sab  aap  hn  kaise

# Check if a string is alphanumeric.

In [23]:
user_input = input('ENter a string: ')
check = user_input.isalnum()

if check:
    print('Yes!')
    
else:
    print("No!")

ENter a string: company345
Yes!

# Extract all digits from a string.

In [24]:
input_string = "There are 3 apples and 5 oranges."
individual_digits = []

for char in input_string:
    if char.isdigit():
        individual_digits.append(int(char))

print(individual_digits)

[3, 5]

# Extract all alphabets from a string.

In [25]:
input_string = "There are 3 apples and 5 oranges."

alphabet =  ""

for char in input_string:
    if char.isalpha() or char.isspace():
        alphabet += char
        
print(alphabet)

There are  apples and  oranges

# Count the number of uppercase letters in a string.

In [26]:
input_string = 'Hello, I"m doing great!'
counting = 0
# letters = []

for char in input_string:
    if char.isupper():
        counting += 1
#         letters.append(char)
        
print(f"The number of upper case letters in the string is: {counting}") 
# print(f"The upper case letters in the string is: {letters}")

The number of upper case letters in the string is: 2

# Count the number of lowercase letters in a string.

In [27]:
input_string = 'Hello, I"m doing great!'
counting = 0
# letters = []

for char in input_string:
    if char.islower():
        counting += 1
#         letters.append(char)
        
print(f'The number of lowercase letters in the string is : {counting}')     
# print(f'The number of lowercase letters in the string is : {letters}')

The number of lowercase letters in the string is : 15

# Swap the case of each character in a string.

In [28]:
input_string = 'Hello, I"m Doing Great!'
words = input_string.swapcase()
print(words)

hELLO, i"M dOING gREAT!

# Remove a specific word from a string.

In [29]:
input_string = "This is a sample string to remove a word from the string."
specific_word = "sample"
input_string_split = input_string.split()

if specific_word in input_string_split:
    input_string_split.remove(specific_word)
    
    result = ' '.join(input_string_split)
    print(f"Result: {result}")
    
else:
    print(f"The word {specific_word} is not found in the string.")

Result: This is a string to remove a word from the string.

# Check if a string is a valid email address.

In [30]:
email_address = input('Enter your email address: ')

if '@' in email_address and '.' in email_address:
    
    if email_address.index('@') < email_address.index('.'):
        print(f'The email address "{email_address}"  is valid.')
    else:
        print(f'The email address "{email_address}"  is invalid.')
else:
    print(f'The email address "{email_address}"  is invalid.')

Enter your email address: varshadewangan@gmail.com
The email address "varshadewangan@gmail.com"  is valid.

# Extract the username from an email address string.

In [31]:
email_address = input('Enter your email address: ')
username = email_address.split('@')[0]
print(f'The username from the email "{email_address}" is "{username}".')

Enter your email address: varshadewangan@gmail.com
The username from the email "varshadewangan@gmail.com" is "varshadewangan".

# Extract the domain name from an email address string.

In [32]:
email_address = input('Enter your email address: ')
domain = email_address.split('@')[1]
print(f'The username from the email "{email_address}" is "{domain}".')

Enter your email address: varshadewangan@gmail.com
The username from the email "varshadewangan@gmail.com" is "gmail.com".

# Replace multiple spaces in a string with a single space.

In [33]:
input_string = 'Hello,  I"m Doing  Great  !'
modified_string = ' '.join(input_string.split())
print(modified_string)

Hello, I"m Doing Great !

# Check if a string is a valid URL.

In [34]:
url = input('Enter URL: ')

if url.startswith(('http://', 'https://', 'ftp://')):
    print(f'The URL "{url}" is valid.')
else:    
    print(f'The URL "{url}" is invalid.')

Enter URL: https://@varshadewangan
The URL "https://@varshadewangan" is valid.

# Extract the protocol (http or https) from a URL string.

In [35]:
url = input('Enter URL: ')
protocol = url.split(':')[0]
print(f" The protocol extract from the url '{url}' is '{protocol}'.")

Enter URL: https://@varshadewangan
 The protocol extract from the url 'https://@varshadewangan' is 'https'.

# Find the frequency of each character in a string.

In [36]:
input_string = 'Hello, World!'
character_frequency = {}

for char in input_string:
    if char in character_frequency:
        character_frequency[char] += 1
    else:
        character_frequency[char] = 1
        
for char, frequency in character_frequency.items():
    print(f"The character '{char}' appears '{frequency}' times.")

The character 'H' appears '1' times.
The character 'e' appears '1' times.
The character 'l' appears '3' times.
The character 'o' appears '2' times.
The character ',' appears '1' times.
The character ' ' appears '1' times.
The character 'W' appears '1' times.
The character 'r' appears '1' times.
The character 'd' appears '1' times.
The character '!' appears '1' times.

# Remove all punctuation from a string.

In [37]:
input_string = "hello!, Cuties!, kaise ho?"
punctuation_marks = ',?!'

for char in punctuation_marks:
    input_string = input_string.replace(char, '')
    
print(input_string)

hello Cuties kaise ho

# Check if a string contains only digits.

In [38]:
input_string = '123456'
# input_string = int(input_string)

if input_string.isdigit():
    print("String contains only digits!")
else:
    print("String does not contain only digits!")

String contains only digits!

# Check if a string contains only alphabets.

In [39]:
input_string = 'Happy Birthday to me'
input_string_without_spaces = input_string.replace(" ", '')

if input_string_without_spaces.isalpha():
    print("String contains only alphabet!")
else:
    print("String does not contain only alphabet!")

String contains only alphabet!

# Convert a string to a list of characters.

In [40]:
input_string = 'Happy Birthday to me'
char_list = list(input_string)
print(char_list)

['H', 'a', 'p', 'p', 'y', ' ', 'B', 'i', 'r', 't', 'h', 'd', 'a', 'y', ' ', 't', 'o', ' ', 'm', 'e']

# Check if two strings are anagrams.

In [41]:
string1 = "listen"
string2 = "silent"


string1 = string1.replace(' ', '').lower()
string2 = string2.replace(' ', '').lower()

if sorted(string1) == sorted(string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

listen and silent are anagrams.

# Encode a string using a Caesar cipher.

In [42]:
plain_text = "Hello, World"
shift_amount = 3


encrypted_text = ""

for char in plain_text:
    if char.isalpha():
        shifted = ord(char) + shift_amount
        
        if char.islower():
            if shifted > ord('z'):
                shifted -= 26

            elif shifted < ord('a'):
                shifted += 26       

        elif char.isupper():
            if shifted > ord('Z'):
                shifted -= 26

            elif shifted < ord('A'):
                shifted += 26       
                
            
        encrypted_text += chr(shifted)
        
    else:
            encrypted_text += char
            
print('Encoded Text: ', encrypted_text)

Encoded Text:  Khoor, Zruog

# Decode a Caesar cipher encoded string.

In [43]:
encrypted_text = "Khoor, Zruog!"
shift_amount = 3

decrypted_text = ''

for char in encrypted_text:
    if char.isalpha():
        shifted = ord(char) - shift_amount
        
        if char.islower():
            if shifted < ord('a'):
                shifted += 26
        elif char.isupper():
            if shifted < ord('A'):
                shifted += 26
                
        decrypted_text += chr(shifted) 
    else:
        decrypted_text += char
        
print("DecodeD text: ", decrypted_text)

DecodeD text:  Hello, World!

# Find the most frequent word in a string.

In [44]:
input_string = "This is the sample string. This string contains words. Sample string for example."

input_string_lower = input_string.lower()

words = input_string_lower.split()

word_freq = {}

for word in words:
    if word in word_freq:
        word_freq[word] += 1
    else:   
        word_freq[word] = 1
        
most_frequent_word = max(word_freq, key = word_freq.get)
frequency = word_freq[most_frequent_word]

print(f"The most frequent word is '{most_frequent_word}' with a frequency of '{frequency}' times.")

The most frequent word is 'this' with a frequency of '2' times.

# Find all unique words in a string.

In [45]:
input_string = "This is the sample string. This string contains words. Sample string for example."

input_string_lower = input_string.lower()

words = input_string_lower.split()

unique_words = set(words)

print("Unique words in the string:")



for word in unique_words:
    print(word)

Unique words in the string:
for
is
the
string.
this
sample
example.
contains
string
words.

# Count the number of syllables in a string.

In [46]:
input_string = "Varsha Dewangan"
input_string_lower = input_string.lower()
vowels = 'aeiouy'

count = 0


for char in input_string_lower:
    if char in vowels:
        count += 1
        
if count == 0:
    count = 1
    
print(f"The word '{input_string_lower}' has approximately '{count}' syllables.")

The word 'varsha dewangan' has approximately '5' syllables.

# Check if a string contains any special characters.

In [47]:
input_string = input("Enter a string: ")
special_char = any(not char.isalnum() and char != '' for char in input_string)

if special_char:
    print(f"The string '{input_string}' contains special characters.")
else:
    print(f"The string '{input_string}' does not contain special characters.")

Enter a string: how are you?
The string 'how are you?' contains special characters.

# Remove the nth word from a string.

In [48]:
input_string = "This is a sample string to demonstrate removing the nth word."
n = 3  # Specify the position of the word to be removed (indexing starts from 1)

words = input_string.split()
if 1 <= n <= len(words):
    del words[n - 1]  # Remove the nth word (subtract 1 for zero-based indexing)

    # Join the words back into a string
    modified_string = ' '.join(words)

    print(f"The modified string after removing the {n}th word:")
    print(modified_string)
else:
    print(f"Invalid index. The string contains {len(words)} words. Please provide a valid index.")

The modified string after removing the 3th word:
This is sample string to demonstrate removing the nth word.

# Insert a word at the nth position in a string.

In [49]:
input_string = "This is a sample string to demonstrate removing the nth word."
word_to_insert = "New_word"
n = 4

words = input_string.split()
if 1 <= n <= len(words) + 1:
    words.insert(n-1, word_to_insert) 
    modified_string = ' '.join(words)

    print(f"The modified string after inserting '{word_to_insert}' at the {n}th position:")
    print(modified_string)
else:
    print(f"Invalid index. Please provide a valid position to insert the word.")

The modified string after inserting 'New_word' at the 4th position:
This is a New_word sample string to demonstrate removing the nth word.

# Convert a CSV string to a list of lists.

In [50]:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
rows = csv_string.split('\n')
list_of_lists = []


for row in rows:
    list_of_lists.append(row.split(','))

    
print('CSV String:')
print('---------------')
print(csv_string)

print("\n list of lists:")
print('-------------------')
for row in list_of_lists:
    print(row)

CSV String:
---------------
1,John,Doe
2,Jane,Smith
3,Bob,Johnson

 list of lists:
-------------------
['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

# List Based Practice Problem :

# Create a list with integers from 1 to 10.

In [51]:
li = range(1,11)
print(list(li))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Find the length of a list without using the `len()` function.

In [52]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = 0

for char in li:
    length += 1
    
print(f"The length of the list is '{length}'")

The length of the list is '10'

# Append an element to the end of a list.

In [53]:
li = ["apple", 'banana', 'cherry']
li.append('grapes')
print(f"The appended list is: '{li}'")

The appended list is: '['apple', 'banana', 'cherry', 'grapes']'

# Insert an element at a specific index in a list.

In [54]:
li = ["apple", 'banana', 'cherry']
li.insert(2,'grapes')
print(f"The appended list is: '{li}'")

The appended list is: '['apple', 'banana', 'grapes', 'cherry']'

# Remove an element from a list by its value.

In [55]:
li = ["apple", 'banana', 'cherry']
li.remove('banana')
print(f"The updated list is: '{li}'")

The updated list is: '['apple', 'cherry']'

# Remove an element from a list by its index.

In [56]:
li = ["apple", 'banana', 'cherry']
removed_li = li.pop(2)
print(f"The updated list is: '{removed_li}'")
print(f"The updated list is: '{li}'")

The updated list is: 'cherry'
The updated list is: '['apple', 'banana']'

# Check if an element exists in a list.

In [57]:
li = ["apple", 'banana', 'cherry']

if 'apple' in li:
    print('Yes!, apple exists.')
else:
    print("No!, apple doesn't exist.")

Yes!, apple exists.

# Find the index of the first occurrence of an element in a list.

In [58]:
li = ["apple", 'banana', 'cherry', 'grapes', 'apple']
index_of_list = li.index('apple')
print(index_of_list)

0

# Count the occurrences of an element in a list.

In [59]:
li = ["apple", 'banana', 'cherry', 'grapes', 'apple']
counts = li.count('apple')
print(counts)

2

# Reverse the order of elements in a list.

In [60]:
li = ["apple", 'banana', 'cherry', 'grapes']
reverse_order = ' , '.join(li[::-1])
print(reverse_order)

grapes , cherry , banana , apple

# Sort a list in ascending order.

In [61]:
li = ["cherry", 'banana', 'apple' , 'grapes']
li.sort()
print(li)

['apple', 'banana', 'cherry', 'grapes']

# Sort a list in descending order.

In [62]:
li = ["cherry", 'banana', 'apple' , 'grapes']
li.sort(reverse = True)
print(li)

['grapes', 'cherry', 'banana', 'apple']

# Create a list of even numbers from 1 to 20.

In [63]:
li = list(range(2,20,2))
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# Create a list of odd numbers from 1 to 20.

In [64]:
li = list(range(1,20,2))
print(li)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Find the sum of all elements in a list.

In [65]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
add_li = sum(li)
print(add_li)

55

# Find the maximum value in a list.

In [66]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max_li= max(li)
print(max_li)

10

# Find the minimum value in a list.

In [67]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
min_li= min(li)
print(min_li)

1

# Create a list of squares of numbers from 1 to 10.

In [68]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square_li= [x**2 for x in li]
print(square_li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Create a list of random numbers.

In [69]:
import random

random_number = [random.randint(1,100) for _ in range(10)]
print(random_number)

[77, 46, 58, 8, 24, 86, 86, 90, 29, 95]

# Remove duplicates from a list.

In [70]:
list_ = [1, 2, 3, 4, 5, 6, 7, 8, 2, 6,7, 7, 9, 10]
list_set = set(list_)
list_set

set_list = list(list_set)
set_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Find the common elements between two lists.

In [71]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7,8]

set_1 = set(l1)
set_2 = set(l2)

common =  set_1.intersection(set_2)
common

{3, 4, 5}

In [72]:
common_elements = list(common)
print('Common Elements:', common_elements)

Common Elements: [3, 4, 5]

# Find the difference between two lists.

In [73]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7,8]

set_1 = set(l1)
set_2 = set(l2)

different = set_1.difference(set_2)
different

{1, 2}

In [74]:
different_elements = list(different)
different_elements

[1, 2]

# Merge two lists.

In [75]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7,8]

l1.extend(l2)
l1

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7, 8]

# Multiply all elements in a list by 2.

In [76]:
list_ = [1,2,3,4,5]

multiples = [x*2 for x in list_]
print(multiples)

[2, 4, 6, 8, 10]

# Filter out all even numbers from a list.

In [77]:
list_ = [1,2,3,4,5,6,7,8,9,10]

filtered_list = [x for x in list_ if x%2 == 0]
print(filtered_list)

[2, 4, 6, 8, 10]

# Convert a list of strings to a list of integers.

In [78]:
list_of_strings = ['1', '2', '3', '4', '5']
list_of_integers = [int(num) for num in list_of_strings]
print(list_of_integers)

[1, 2, 3, 4, 5]

# Convert a list of integers to a list of strings.

In [79]:
list_of_integers = [1,2,3,4,5]

list_of_strings = [str(num) for num in list_of_integers]
print(list_of_strings)

['1', '2', '3', '4', '5']

# Flatten a nested list.

In [80]:
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]

flat_list = []

for sublist in nested_list:
    if type(sublist) == list:
        for element in sublist:
            if type(element) == list:
                for sub_element in element:
                    flat_list.append(sub_element)
            else:
                flat_list.append(element)
    else:
        flat_list.append(sublist)
        
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]

# Create a list of the first 10 Fibonacci numbers.

In [81]:
fibonacci_list = [0,1]

for i in range(2,10):
    next_number = fibonacci_list[i-1] + fibonacci_list[i-2]
    fibonacci_list.append(next_number)
    
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Check if a list is sorted.

In [82]:
list_l = [ 6, 7, 8, 1, 2, 6, 8, 3, 4, 5]
sorted_list = sorted(list_l)

if list_l == sorted_list:
    print('Yes, the list is sorted.')
else:
    print('No, the list is unsorted.')

No, the list is unsorted.

# Rotate a list to the left by `n` positions.

In [83]:
my_list = [1,2,3,4,5,6,7]
positions = 3

for _ in range(positions):
    first_element = my_list[0]
    my_list = my_list[1:] + [first_element]

    
print('Original List:', my_list)

Original List: [4, 5, 6, 7, 1, 2, 3]

# Rotate a list to the right by n positions.

In [84]:
my_list = [1,2,3,4,5,6,7]
positions = 3

for _ in range(positions):
    last_element = my_list.pop()
    my_list = [last_element] + my_list
    
print("Original List:", my_list)

Original List: [5, 6, 7, 1, 2, 3, 4]

# Create a list of prime numbers up to 50.

In [85]:
prime_number = []

for num in range(2,51):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
            
    if is_prime:
        prime_number.append(num)
        
print("List of prime numbers up to 50:\n ",prime_number)

List of prime numbers up to 50:
  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# Split a list into chunks of size `n`.

In [86]:
mylist = [1,2,3,4,5,6,7,8,9,10,11]
n = 12

chunked_list = []
chunk = []

for item in mylist:
    if len(chunk) < n:
        chunk.append(item)
        
    else:
        chunked_list.append(chunk)
        chunk = [item]
        
if chunk:
    chunked_list.append(chunk)
    
print("Original List:", mylist)
print(f"List split into chunks of size {n}:", chunked_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
List split into chunks of size 12: [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]

# Find the second largest number in a list.

In [87]:
mylist = [12, 45, 23, 2, 7, 34, 0, 87, 5]
mylist.sort()
print(mylist)
print('The second largest number in the list is:', mylist[-2])

[0, 2, 5, 7, 12, 23, 34, 45, 87]
The second largest number in the list is: 45

# Replace every element in a list with its square.

In [88]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

square_li= [x**2 for x in li]
print('Original List', li)
print('squared List', square_li)

Original List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared List [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Convert a list to a dictionary where list elements become keys and their indices become values.

In [89]:
my_list = ['apple', 'banana', 'cherry', 'date']
result_dict = {}

for index, value in enumerate(my_list):
    result_dict[value] = index
    
print("Original List: ", my_list)
print("Dictionary with element as keys and indices as values:\n", result_dict)

Original List:  ['apple', 'banana', 'cherry', 'date']
Dictionary with element as keys and indices as values:
 {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

# Shuffle the elements of a list randomly.

In [90]:
import random
my_list = ['apple', 'banana', 'cherry', 'date']

random.shuffle(my_list)
print(my_list)

['date', 'apple', 'cherry', 'banana']

# Create a list of the first 10 factorial numbers.

In [91]:
import math
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fact = [ math.factorial(num) for num in li]

print(fact)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# Check if two lists have at least one element in common.

In [92]:
list1 = ['apple', 'banana', 'cherry']
list2 = ['Google', 'MSFT', 'apple']

intersection = set(list1) & set(list2)

if intersection:
    print("Yes, there is a common element.")
else:
    print('No, there is not a common element.')

Yes, there is a common element.

# Remove all elements from a list.

In [93]:
list_ = ['apple', 'banana', 'cherry']

list_.clear()
print(list_)

[]

# Replace negative numbers in a list with 0.

In [94]:
list0 = [ -1, 2, 4, -5, 6, 7, -8, 30, 0, 4] 

replaced_num =  [i if i >=0 else 0 for i in list0]
print(replaced_num)

[0, 2, 4, 0, 6, 7, 0, 30, 0, 4]

# Convert a string into a list of words.

In [95]:
strings_ = 'Hello, How are you?'
list_of_words = strings_.split()
print(list_of_words)

['Hello,', 'How', 'are', 'you?']

# Convert a list of words into a string.

In [96]:
list_of_words = ['Hello,', "how ", "are", "you", "?"]

list_of_string = ' '.join(list_of_words)
print(list_of_string)

Hello, how  are you ?

# Create a list of the first `n` powers of 2.

In [97]:
n = 5

power_of_2 = [i**2 for i in range(n)]
print(f"First {n} power of 2: {power_of_2}")

First 5 power of 2: [0, 1, 4, 9, 16]

# Find the longest string in a list of strings.

In [99]:
list_of_string = ['apple', 'banana', 'cherry', 'date']

longest_string= max(list_of_string, key = len)

print("List of strings:",list_of_string)
print("Longest string in the list:",longest_string)

List of strings: ['apple', 'banana', 'cherry', 'date']
Longest string in the list: banana

# Find the shortest string in a list of strings.

In [101]:
list_of_string = ['apple', 'banana', 'cherry', 'date']

shortest_string= min(list_of_string, key = len)

print("List of strings:",list_of_string)
print("Shortest string in the list:",shortest_string)

List of strings: ['apple', 'banana', 'cherry', 'date']
Shortest string in the list: date

# Create a list of the first `n` triangular numbers.

In [102]:
n = 7

triangular_numbers = []
sum = 0

for i in range(1, n+1):
    sum += i
    triangular_numbers.append(sum)
    
print('First', n, 'triangular numbers:', triangular_numbers)

First 7 triangular numbers: [1, 3, 6, 10, 15, 21, 28]

# Check if a list contains another list as a subsequence.

In [103]:
larger_list = [1,2,3,4,5,6,7,8]
subsequence = [3,4,5]

if all(item  in larger_list for item in subsequence):
    print('Yes, the subsequence is present in the larger list.')
else:
    print('No, the subsequence is not present in the larger list.')

Yes, the subsequence is present in the larger list.

# Swap two elements in a list by their indices.

In [104]:
larger_list = [1,2,3,4,5,6,7,8]
x, y = 0, 5
larger_list[x], larger_list[y] = larger_list[y], larger_list[x]
print("List after swapping elements at indices", x, 'and', y, ":", larger_list)

List after swapping elements at indices 0 and 5 : [6, 2, 3, 4, 5, 1, 7, 8]

# Tuple Based Practice Problem :

# Create a tuple with integers from 1 to 5.

In [105]:
tupl = tuple(range(1,6))
print(tupl)

(1, 2, 3, 4, 5)

# Access the third element of a tuple.

In [106]:
tupl[2]

3

# Find the length of a tuple without using the `len()` function.

In [107]:
t = (1,2,3,4,5)
length = 0

for i in t:
    length += 1
    
print('Length of the tuple is:', length)

Length of the tuple is: 5

# Count the occurrences of an element in a tuple.

In [108]:
t = (1,2,3,4,5)

v = t.count(3)
v

1

# Find the index of the first occurrence of an element in a tuple.

In [109]:
tup = ('apple', "banana", 'cherry', 'date', 'apple')

p = tup.index('apple')
p

0

# Check if an element exists in a tuple.

In [110]:
tup = ('apple', "banana", 'cherry', 'date')

if 'apple' in tup:
    print('Yes, apple exists.')
else:
    print('Yes, apple does not exist.')

Yes, apple exists.

# Convert a tuple to a list.

In [111]:
tup = ('apple', "banana", 'cherry', 'date')
li = list(tup)
li

['apple', 'banana', 'cherry', 'date']

# Convert a list to a tuple.

In [112]:
li = ['apple', "banana", 'cherry', 'date']
tup = tuple(li)
tup

('apple', 'banana', 'cherry', 'date')

# Unpack the elements of a tuple into variables.

In [113]:
tup = ('apple', "banana", 'cherry')

x,y,z = tup

print(x)
print(y)
print(z)

apple
banana
cherry

# Create a tuple of even numbers from 1 to 10.

In [114]:
tup = (1,2,3,4,5,6,7,8,9,10)
li = list(tup)
lis = []
for i in li:
    if i % 2 == 0:
        lis.append(i)
tups = tuple(lis)
print(tups)

(2, 4, 6, 8, 10)

# Create a tuple of odd numbers from 1 to 10.

In [115]:
tup = (1,2,3,4,5,6,7,8,9,10)
li = list(tup)
lis = []
for i in li:
    if i % 2 == 1:
        lis.append(i)
tups = tuple(lis)
print(tups)

(1, 3, 5, 7, 9)

# Concatenate two tuples.

In [116]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)

tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Repeat a tuple three times.

In [117]:
tup = (1,2,3)

repeated_tups = tup*3
print(repeated_tups)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Check if a tuple is empty.

In [118]:
 tup = (1,2,4,5,7,8,0)

if not tup:
    print('Tuple is empty!')
else:
    print('Tuple is not empty!')

Tuple is not empty!

# Create a nested tuple.

In [119]:
nested_tuple = ()
num_elements = 4

for i in range(1, 10, num_elements):
    inner_tuple = tuple(range(i, i + num_elements))
    nested_tuple += (inner_tuple,)

print(nested_tuple)

((1, 2, 3, 4), (5, 6, 7, 8), (9, 10, 11, 12))

# Access the first element of a nested tuple.

In [120]:
nested_tuple

((1, 2, 3, 4), (5, 6, 7, 8), (9, 10, 11, 12))

In [121]:
nested_tuple[0][0]

1

# Create a tuple with a single element.

In [122]:
tup = ('apple',)
print(tup)
print(type(tup))

('apple',)
<class 'tuple'>

# Compare two tuples.

In [123]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)


print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 > tuple2: False
tuple1 <= tuple2: True
tuple1 >= tuple2: False

# Delete a tuple.

In [124]:
tuple_t = (1,2,3)
del tuple_t

In [ ]:
tuple_t

# Slice a tuple.

In [125]:
tup = (1,2,4,5,7,8,0)
tup = tup[2:5]
tup

(4, 5, 7)

# Find the maximum value in a tuple.

In [126]:
tup = (1,2,4,5,7,8,0)

max_value = max(tup)
max_value

8

# Find the minimum value in a tuple.

In [127]:
tup = (1,2,4,5,7,8,0)

min_value = min(tup)
min_value

0

# Convert a string to a tuple of characters.

In [128]:
string = 'hello, how are you?'
tups = tuple(string)
print(tups)

('h', 'e', 'l', 'l', 'o', ',', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?')

# Convert a tuple of characters to a string.

In [129]:
tups = ('h', 'e', 'l', 'l', 'o', ',', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?')
strings = ''.join(tups)
print(strings)

hello, how are you?

# Create a tuple from multiple data types.

In [130]:
tups = (1,2,3, 'apple', True)
print(tups)

(1, 2, 3, 'apple', True)

# Check if two tuples are identical.

In [131]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

# Sort the elements of a tuple.

In [132]:
tups = (3,6,2,6,4,4,8,9,12,45)

li = list(tups)
li.sort()
li
tups = tuple(li)
tups

(2, 3, 4, 4, 6, 6, 8, 9, 12, 45)

# Convert a tuple of integers to a tuple of strings.

In [133]:
tup_of_int = (1,2,3,4,5,6,7,8)

tup_of_str = tuple(str(item) for item in tup_of_int )


print("Tuple of integer:", tup_of_int)
print("Tuple of string:", tup_of_str)

Tuple of integer: (1, 2, 3, 4, 5, 6, 7, 8)
Tuple of string: ('1', '2', '3', '4', '5', '6', '7', '8')

# Convert a tuple of strings to a tuple of integers.

In [134]:
tup_of_str = ('1','2','3','4','5','6','7','8')

tup_of_int = tuple(int(item) for item in tup_of_str )
print("Tuple of string:", tup_of_str)
print("Tuple of integer:", tup_of_int)

Tuple of string: ('1', '2', '3', '4', '5', '6', '7', '8')
Tuple of integer: (1, 2, 3, 4, 5, 6, 7, 8)

# Merge two tuples.

In [135]:
tup1 = (1,2,3,4,5)
tup2 = (6,6,7,8,9,0)

tup3 = tup1 + tup2
print("Merged Tuples:", tup3)

Merged Tuples: (1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 0)

# Flatten a nested tuple.

In [136]:
tup = ((1, 2), (3, 4, 5), (6, (7, 8)))

def flatten_tuple(t):
    flat_list = []
    for item in t:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
            
        else:
            flat_list.append(item)
    return flat_list  

flattened_tuple = tuple(flatten_tuple(tup))

print("Original Tuple:", tup)
print("Flattened Tuple:", flattened_tuple)

Original Tuple: ((1, 2), (3, 4, 5), (6, (7, 8)))
Flattened Tuple: (1, 2, 3, 4, 5, 6, 7, 8)

# Create a tuple of the first 5 prime numbers.

In [137]:
count = 0
number = 2
prime_list = []

while count < 5:
    is_prime = True
    for i in range(2, (int(number**0.5)+1)):
        if number % i == 0:
            is_prime = False
            break
            
    if is_prime:
        prime_list.append(number)
        count += 1
    number += 1
    
prime_tuple = tuple(prime_list)
print("Tuple of the first 5 prime numbers:", prime_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

# Check if a tuple is a palindrome.

In [138]:
tups = ('level',)
# tups = (1,2,3,2,1)

if check_palindrome == tups[::-1]:
    print(f'This tuple is palindrome.')
else:
    print(f'This tuple is not a palindrome.')

This tuple is not a palindrome.

# Create a tuple of squares of numbers from 1 to 5.

In [139]:
squared_tuple= tuple(x**2 for x in range(1, 6))
print("Tuple of squares of numbers from 1 to 5:", squared_tuple)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

# Filter out all even numbers from a tuple.

In [140]:
tups = range(1,11)

filtered_tuple = tuple(x for x in tups if x % 2 == 0)
print('Filtered Tuple:', filtered_tuple)

Filtered Tuple: (2, 4, 6, 8, 10)

# Multiply all elements in a tuple by 2.

In [141]:
tups = range(1,11)

multiples = tuple(x*2  for x in tups )
print(multiples)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

# Create a tuple of random numbers.

In [142]:
import random

values = list(range(5))
random.shuffle(values)
tups = tuple(values)
print(tups)

(2, 0, 3, 4, 1)

# Check if a tuple is sorted.

In [143]:
tups = (15,3,5,7,8)
sorted_tuple = sorted(tups)

if sorted_tuple == tups:
    print("THe tuple is sorted.")
else:
    print("THe tuple is unsorted.")

THe tuple is unsorted.

# Rotate a tuple to the left by `n` positions.

In [144]:
tups = (1,2,3,4,5,6,7)
n = 3

for _ in range(n):
    first_element = tups[0]
    tups = tups[1:] + (first_element,)

print('Original Tuple:', tups)

Original Tuple: (4, 5, 6, 7, 1, 2, 3)

# Rotate a tuple to the right by `n` positions.

In [145]:
tups = (1,2,3,4,5,6,7)
lis = list(tups)
n = 3

for _ in range(n):
    last_element = lis.pop()
    lis = [last_element] + lis
    
print("Original Tuple:", tuple(lis))

Original Tuple: (5, 6, 7, 1, 2, 3, 4)

# Create a tuple of the first 5 Fibonacci numbers.

[0, 1, 1, 2, 3]

In [146]:
fibonacci_num = [0,1]

for i in range(2,5):
    num = fibonacci_num[i-1] + fibonacci_num[i-2]
    fibonacci_num.append(num)
    
print("Fibonacci Numbers:", tuple(fibonacci_num))

Fibonacci Numbers: (0, 1, 1, 2, 3)

# Create a tuple from user input.

In [147]:
user_input = input('enter the values for tuple: ')


user_tuple = tuple(user_input.split())


print(user_tuple)

enter the values for tuple: varsha dewangan sem 4
('varsha', 'dewangan', 'sem', '4')

# Swap two elements in a tuple.

In [148]:
tups = ('apple', 'banana', 'cherry', 'date')

# Convert the tuple to a list
tups_list = list(tups)

# Swap elements at indices 0 and 2 in the list
tups_list[0], tups_list[2] = tups_list[2], tups_list[0]

# Convert the modified list back to a tuple
modified_tuple = tuple(tups_list)

print(modified_tuple)

('cherry', 'banana', 'apple', 'date')

# Reverse the elements of a tuple.

In [149]:
tups = ('apple', 'banana', 'cherry', 'date')

reversed_elements = tups[::-1]
print(reversed_elements)

('date', 'cherry', 'banana', 'apple')

# Create a tuple of the first `n` powers of 2.

In [150]:
n = 5

power_of_2 = tuple(2**i for i in range(n))
print("Power Of 2:", power_of_2)

Power Of 2: (1, 2, 4, 8, 16)

# Find the longest string in a tuple of strings.

In [151]:
tups = ('apple', 'banana', 'cherry', 'date')

longest_string = max(tups, key = len)
print('The longest string is:',longest_string, 'of length', len(longest_string))

The longest string is: banana of length 6

# Find the shortest string in a tuple of strings.

In [152]:
tups = ('apple', 'banana', 'cherry', 'date')

shortest_string = min(tups, key = len)
print('The shortest string is:',shortest_string, 'of length:', len(shortest_string))

The shortest string is: date of length: 4

# Create a tuple of the first `n` triangular numbers.

In [153]:
n = 7
triangular_number = []
sum = 0

for i in range(1, n+1):
    sum += i
    triangular_number.append(sum)
    
print('First', n, 'Triangular number:', tuple(triangular_number))

First 7 Triangular number: (1, 3, 6, 10, 15, 21, 28)

# Check if a tuple contains another tuple as a subsequence.

In [154]:
tups = (1,2,3,4,5,6,7,8)
subsequence = (3,4,5)

if all(item in tups for item in subsequence):
    print("yes")
else:
    print("no")

yes

# Create a tuple of alternating 1s and 0s of length `n`.

In [155]:
n= 8

alternating_tups = tuple(1 if i%2 == 0 else 0 for i in range(n))
print("Alternating Tuple", alternating_tups)

Alternating Tuple (1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

# Create a set with integers from 1 to 5.

In [156]:
sets = set(range(1,6))
print(sets)

{1, 2, 3, 4, 5}

# Add an element to a set.

In [157]:
set1 = {1,2,3,4,5}

set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

# Remove an element from a set.

In [158]:
set1 = {1,2,3,4,5}

set1.remove(3)
set1

{1, 2, 4, 5}

# Check if an element exists in a set.

In [159]:
set1 = {1,2,3,4,5}
if 1 in set1:
    print("Yes!")
else:
    print("No!")

Yes!

# Find the length of a set without using the `len()` function.

In [160]:
set1 = {1,2,3,4,5}
length = 0

for i in set1:
    length += 1
print('Length of a set:',length)

Length of a set: 5

# Clear all elements from a set.

In [161]:
set1 = {1,2,3,4,5}
set1.clear()
set1

set()

# Create a set of even numbers from 1 to 10.

In [162]:
sets = range(1, 11)

even_num = {i for i in sets if i % 2== 0}
print(even_num)

{2, 4, 6, 8, 10}

# Create a set of odd numbers from 1 to 10.

In [163]:
sets = range(1, 11)

odd_num = {i for i in sets if i % 2== 1}
print(odd_num)

{1, 3, 5, 7, 9}

# Find the union of two sets.

In [164]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Find the intersection of two sets.

In [165]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set3 = set1.intersection(set2)
set3

{4, 5}

# Find the difference between two sets.

In [166]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}
set3 = set1.difference(set2)
set3

{1, 2, 3}

# Check if a set is a subset of another set.

In [167]:
set_a = {1,2,3,4,5,6,7}
set_b = {4,5,6}
check = set_b.issubset(set_a)

if check:
    print("Yes, set_b is a subset of set_a")
else:
    print("Yes, set_b is not a subset of set_a")

Yes, set_b is a subset of set_a

# Check if a set is a superset of another set.

In [168]:
set_a = {1,2,3,4,5,6,7}
set_b = {4,5,6}
check = set_a.issuperset(set_b)

if check:
    print("Yes, set_a is a superset of set_b.")
else:
    print("Yes, set_a is not a superset of set_b.")

Yes, set_a is a superset of set_b.

# Create a set from a list.

In [169]:
lis = ['apple', 'banana', 'cherry']
sts = set(lis)
print(sts)

{'apple', 'banana', 'cherry'}

# Create a list from a set.

In [170]:
sets = {'apple', 'banana', 'cherry'}
lis = list(sets)
print(lis)

['apple', 'banana', 'cherry']

# Remove a random element from a set.

In [171]:
import random

my_set  = {1,2,3,4,5}

random_element = random.choice(list(my_set))

my_set.remove(random_element)
print("Randomly Removed Element:", random_element)
print("Updated set:", my_set)

Randomly Removed Element: 1
Updated set: {2, 3, 4, 5}

# Pop an element from a set.

In [172]:
sets = {'apple', 'banana', 'cherry'}
sets.pop()
sets

{'banana', 'cherry'}

# Check if two sets have no elements in common.

In [173]:
set1 = {1,2,3}
set2 = {4,5,6}

no_common_elements= set1.isdisjoint(set2)

if no_common_elements:
    print("The sets have no common elements.")
else:
    print("The sets have common elements.")

The sets have no common elements.

# Find the symmetric difference between two sets.

In [174]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}

set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 6, 7, 8, 9}

# Update a set with elements from another set.

In [175]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}

set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Create a set of the first 5 prime numbers.

In [86]:
prime_num = set()
num = 2

while len(prime_num) < 5:
    is_prime = True
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_num.add(num)
    num += 1   
    
print("Set of the first 5 prime numbers:", prime_num)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

# Check if two sets are identical.

In [1]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5}

if set1 == set2:
    print("Both the sets are identical.")
else:
    print("Both the sets are not identical.")

Both the sets are identical.

# Create a frozen set.

In [5]:
my_set = {1,2,3,4,5}

frozen_set = frozenset(my_set)

print("Original Set:", my_set)
print("Frozen Set:", frozen_set)

Original Set: {1, 2, 3, 4, 5}
Frozen Set: frozenset({1, 2, 3, 4, 5})

# Check if a set is disjoint with another set.

In [7]:
set1 = {1,2,3}
set2 = {4,5,6}

no_common_elements= set1.isdisjoint(set2)

if no_common_elements:
    print("The sets are disjoint(have no common elements).")
else:
    print("The sets have some common elements.")

The sets are disjoint(have no common elements).

# Create a set of squares of numbers from 1 to 5.

In [10]:
sets = set(x**2  for x in range(1,6))
print('set of squares:', sets)

set of squares: {1, 4, 9, 16, 25}

# Filter out all even numbers from a set.

In [12]:
sets = set(x for x in range(1, 11) if x % 2 == 0)
print(sets)

{2, 4, 6, 8, 10}

# Multiply all elements in a set by 2.

In [13]:
sets = set(x*2 for x in range(1,11))
print(sets)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

# Create a set of random numbers.

In [24]:
import random

random_set = set()

for _ in range(6):
    random_set.add(random.randint(1,50))
    
print("Set of random numbers:", random_set)

Set of random numbers: {33, 2, 41, 24, 31}

# Check if a set is empty.

In [25]:
set1 = {33, 2, 41, 24, 31}

if set1.clear():
    print('Yes, this set is empty')
else:
    print("No, this set is not empty")

No, this set is not empty

# Create a nested set .

In [38]:
nested_set = frozenset([
    frozenset({'a', 'b', 'c'}),
    frozenset({1, 2, 3}),
    frozenset({'x', 'y', 'z'})
])

print("Nested set:", nested_set)

Nested set: frozenset({frozenset({'a', 'b', 'c'}), frozenset({'z', 'y', 'x'}), frozenset({1, 2, 3})})

# Remove an element from a set using the discard method.

In [39]:
set1 = {33, 2, 41, 24, 31}
set1.discard(33)
set1

{2, 24, 31, 41}

# Compare two sets.

In [42]:
set1 = {1,2,3}
set2 = {1,2,4}

print("set1 == set2:", set1 == set2)
print("set1 != set2:", set1 != set2)
print("set1 < set2:", set1 < set2)
print("set1 <= set2:", set1 <= set2)
print("set1 >= set2:", set1 >= set2)
print("set1 > set2:", set1 > set2)

set1 == set2: False
set1 != set2: True
set1 < set2: False
set1 <= set2: False
set1 >= set2: False
set1 > set2: False

# Convert a set of strings to a set of integers.

In [51]:
string_set = {'1', '2', '3'}
int_set = set(int(x) for x in string_set)
print(int_set)

{1, 2, 3}

# Convert a set of integers to a set of strings.

In [55]:
int_set = {1, 2, 3}
string_set = set(str(x) for x in int_set)
print(string_set)

{'2', '1', '3'}

# Create a set from a tuple.

In [56]:
tups = (1,3,4,5,5)
sets = set(tups)
print(sets)

{1, 3, 4, 5}

# Convert a set to a tuple.

In [57]:
sets = {1,3,4,5,5}
tups = tuple(sets)
print(tups)

(1, 3, 4, 5)

# Find the maximum value in a set.

In [59]:
sets = {1,2,3,4,6,7,8}

max_value = max(sets)
print(max_value)

8

# Find the minimum value in a set.

In [60]:
sets = {1,2,3,4,6,7,8}

min_value = min(sets)
print(min_value)

1

In [64]:
user_input = input("enter values separated by spaces: ")
user_set = set(map(int, user_input.split()))

print("set created from user input:", user_set)

enter values separated by spaces: 5 9 1 8 5 7 2 6 4
set created from user input: {1, 2, 4, 5, 6, 7, 8, 9}

# Check if the intersection of two sets is empty.

In [67]:
set1 = {1,2,3}
set2 = {1,2,4}

inter = set1.intersection(set2)
if inter.clear():
    print("Yes, the intersection of two set is empty.")
else:
    print("No, the intersection of two set is not  empty.")

No, the intersection of two set is not  empty.

# Create a set of the first 5 Fibonacci numbers.

In [69]:
fibonacci_num = [0,1]

for i in range(2,5):
    num = fibonacci_num[i-1] + fibonacci_num[i-2]
    fibonacci_num.append(num)
    

print("Original Fibonacci Number:", fibonacci_num)
print("Set of Fibonacci Number:", set(fibonacci_num))

Original Fibonacci Number: [0, 1, 1, 2, 3]
Set of Fibonacci Number: {0, 1, 2, 3}

# Remove duplicates from a list using sets.

In [74]:
lis = [1,2, 3, 5,5,8,8]
lis_set = set(lis)
lis_set

{1, 2, 3, 5, 8}

In [75]:
set_lis = list(lis_set)
set_lis

[1, 2, 3, 5, 8]

# Check if two sets have the same elements, regardless of their count.

In [76]:
set1 = {1,2,3,4}
set2 = {4,3,2,1,1}

if set1 == set2:
    print("The sets have the same elements, regardless of count.")
else:
    print("The sets have the different elements.")

The sets have the same elements, regardless of count.

# Create a set of the first `n` powers of 2.

In [77]:
n = 5

power_of_2 = set(2**i for i in range(n))
print(power_of_2)

{1, 2, 4, 8, 16}

# Find the common elements between a set and a list.

In [79]:
my_set = {1,2,3,4,5}
my_list = [3,4,5,6,7]

common_elements = my_set.intersection(my_list)
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

# Create a set of the first `n` triangular numbers.

In [80]:
triangular_number = []
sum = 0
n = 7

for i in range(1, n+1):
    sum += i
    triangular_number.append(sum)
    
triangular_number = set(triangular_number)
print("Triangular Number:", triangular_number)

Triangular Number: {1, 3, 6, 10, 15, 21, 28}

# Check if a set contains another set as a subset.

In [81]:
set1 = {1,2,3,5,7}
set2 = {2,3}

if set2 <= set1:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

# Create a set of alternating 1s and 0s of length `n`.

In [83]:
n = 6

alternating_num = set(1 if i % 2 == 0 else 0 for i in range(n))
print("Alternating number:", alternating_num)

Alternating number: {0, 1}

# Merge multiple sets into one.

In [84]:
x = {1,2,34,5,6}
y = {3,56,8,9}
z = {2,4,78,0,6}

merged_set_method = x.union(y,z)
print("Merged Set:", merged_set_method)

Merged Set: {0, 1, 2, 34, 3, 5, 6, 4, 8, 9, 78, 56}